        <footer class="footer">
            <section class="footer_container container">

                <!-- Barra Navegación - Footer -->
                <nav class="nav nav_footer">
                    <h2 class="footer_title">Mi Blog de Musica</h2>
                    <ul class="nav_link nav_link_footer">
                        <li class="nav_items">
                            <a href="/" class="nav_links">Inicio</a>
                        </li>
                        <li class="nav_items">
                            <a href="./generoRoutes" class="nav_links">Ranking</a>
                        </li>
                        <li class="nav_items">
                            <a href="./mimusicaRoutes" class="nav_links">Mis Listas Musicales</a>
                        </li>
                    </ul>

                </nav>

                <!-- Sucribirse Promociones - Footer -->
                <form class="footer_form" action="/" method="post">
                    <h2 class="footer_newsletter">
                        Suscribete a nuestras promociones </h2>
                    <div class="footer_input_div">
                        <input type="email" placeholder="Email:" class="footer_input" name="correocliente">
                        <input type="submit" value="Registrate" class="footer_submit">
                    </div>
                </form>
            </section>

            <!-- Social Media - Footer -->
            <section class="footer_copy container">
                <div class="footer_social">
                    <a href="#" class="footer_icons">
                        <img src="/img/facebook.svg" alt="Facebook" class="footer_icon_img">
                    </a>
                    <a href="#" class="footer_icons">
                        <img src="/img/instagram.svg" alt="Instagram" class="footer_icon_img">
                    </a>
                    <a href="#" class="footer_icons">
                        <img src="/img/twitter.svg" alt="Twitter" class="footer_icon_img">
                    </a>
                </div>

                <h3 class="footer_copyright">Derechos Reservados &copy; Grupo 6</h3>
            </section>

        </footer>