        <!-- Formulario -->
        <section class="contacto">
            <section class="conctacto_container container">
            <h2 class="contacto_title">
                <hr>
                {{titulo}}
                <hr>
            </h2>

            <form class="contacto_form" action="./altagenero" method="post">
                <div class="contacto_input_div">

                    <label class="contacto_label">Titulo de la cancion: </label>
                    <input type="text" placeholder="Nombre" name="title" class="contacto_input">
                    <label class="contacto_label">Artista o Banda: </label>
                    <input type="text" placeholder="Musician" name="musico" class="contacto_input">
                    <label class="contacto_label">Genero: </label>
                    <input type="text" placeholder="type" name="genero" class="contacto_input">
                </div>
                <button type="submit" class="contacto_btn" target="blank" >Agregar</button>                
            </form>

            <h3 class="contacto_validacion">{{validacion}}
            </h3>
        </section>
        </section>

